footer {
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 20px;
    background-color: #c72d2d;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.footer-content div {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-content h1 {
    font-size: 24px;
}

.footer-rights {
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}
