<!DOCTYPE html>
<html>
<head>
    <title>Banco de Talentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/stylesFooter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/stylesHeader.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-content">
                <img src="logo-educafrotech (1).png" alt="Logo da EducaFroTech" class="logo">
                <div class="text-content">
                    <h1>Página inicial</h1>
                </div>
            </div>
        </nav>
    </header>
    <div class="apresentacao">
        <h1>Bem vindo ao Banco de Talentos da Educafro</h1>
        <h2>A plataforma que vai mudar sua forma de pensar</h2>
    </div>

    <main>
        {% block content %}{% endblock %}
        
    </main>



    <footer>
        <div class="footer-content">
            <div class="informacoes">
                <h1>Mais Informações</h1>
                <ul>
                    <li><a href="https://www.exemplo.com" target="_blank">site Educafro</a></li>
                    <li><a href="mailto:educafrotech@educafro.org.br" target="_blank">email</a></li>
                </ul>
            </div>
            <div class="contatos">
                <h1>Contate-nos</h1>
                <p>Rua Riachuelo, 342 - Centro - São Paulo - CEP, 01.007-000</p>
                <p>Telefone: (11) 3106-2790 ou (11) 3105-8859</p>
            </div>
            <div class="redesSociais">
                <h1>Siga-nos</h1>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <p class="footer-rights">Todos os direitos reservados ao grupo1. Projeto Python com Flask 2024</p>
    </footer>
</body>
</html>