{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Cadastrar Talento</h1>
    <form method="POST" action="{{ url_for('main.cadastrar_talento') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nome.label(class="form-control-label") }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.idade.label(class="form-control-label") }}
            {{ form.idade(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.profissao.label(class="form-control-label") }}
            {{ form.profissao(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.objetivos.label(class="form-control-label") }}
            {{ form.objetivos(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.status_trabalho.label(class="form-control-label") }}
            {{ form.status_trabalho(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.area_formacao.label(class="form-control-label") }}
            {{ form.area_formacao(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cargo_pretendido.label(class="form-control-label") }}
            {{ form.cargo_pretendido(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cidade.label(class="form-control-label") }}
            {{ form.cidade(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.bairro.label(class="form-control-label") }}
            {{ form.bairro(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.telefone.label(class="form-control-label") }}
            {{ form.telefone(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.github.label(class="form-control-label") }}
            {{ form.github(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.linkedin.label(class="form-control-label") }}
            {{ form.linkedin(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>
{% endblock %}
