<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="stylesFooter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <div class="content">
        <h1>Conteúdo Principal</h1>
        <p>Este é um exemplo de conteúdo principal da página. Adicione mais conteúdo aqui para ver como o rodapé se ajusta.</p>
    </div>
</body>
<footer>
    <div class="footer-content">
        <div class="informacoes">
            <h1>Mais Informações</h1>
            <ul>
                <li><a href="https://www.exemplo.com" target="_blank">site Educafro</a></li>
                <li><a href="mailto:educafrotech@educafro.org.br" target="_blank">email</a></li>
            </ul>
        </div>
        <div class="contatos">
            <h1>Contate-nos</h1>
            <p>Rua Riachuelo, 342 - Centro - São Paulo - CEP, 01.007-000</p>
            <p>Telefone: (11) 3106-2790 ou (11) 3105-8859</p>
        </div>
        <div class="redesSociais">
            <h1>Siga-nos</h1>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <p class="footer-rights">Todos os direitos reservados ao grupo1. Projeto Python com Flask 2024</p>
</footer>
</html>
