{% extends "base.html" %}

{% block content %}
<section class="botoes-index">
    <div class="hero">
        <button type="button" class="btn btn-lg"><a href="{{ url_for('main.cadastrar_talento') }}">Cadastrar Talento</a></button>
        <button type="button" class="btn btn-lg"><a href="{{ url_for('main.visualizar_talentos') }}">Visualizar Talentos</a></button>
        <button type="button" class="btn btn-lg"><a href="{{ url_for('main.estatisticas') }}">Estatísticas</a></button>
    </div>
</section>
{% endblock %}
